* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family:  'Space Grotesk', sans-serif;
} 

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  hyphens: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.tab-button {
  position: relative;
  padding: 8px 16px;
  background: transparent;
  border: none;
  color: #2e2e2e;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tab-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #2563eb;
  transition: width 0.3s ease;
  width: 0;
}

.tab-button:hover {
  color: #2563eb;
}

.tab-button:hover::after {
  width: 100%;
}

.tab-button.active {
  color: #2563eb; 
}

.tab-button.active::after {
  width: 100%;
}


.skill-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}